.o-show () {
  0%   { transform: scale(0); }
  100% { transform: scale(1); opacity: 1; }
}

@-webkit-keyframes o-show { .o-show; }
@-moz-keyframes o-show { .o-show; }
@-o-keyframes o-show { .o-show; }
@keyframes o-show { .o-show; }

.w-top () {
  0% { top: -20em; }
  100% { top: 0em; opacity: .5; }
}

@-webkit-keyframes w-top { .w-top; }
@-moz-keyframes w-top { .w-top; }
@-o-keyframes w-top { .w-top; }
@keyframes w-top { .w-top; }

.w-bottom () {
  0% { bottom: -20em; }
  100% { bottom: 0em; opacity: 1; }
}

@-webkit-keyframes w-bottom { .w-bottom; }
@-moz-keyframes w-bottom { .w-bottom; }
@-o-keyframes w-bottom { .w-bottom; }
@keyframes w-bottom { .w-bottom; }

.k-left () {
   0% { left: -10em; }
   100% { left: 0em; opacity: 1; }
}

@-webkit-keyframes k-left { .k-left; }
@-moz-keyframes k-left { .k-left; }
@-o-keyframes k-left { .k-left; }
@keyframes k-left { .k-left; }

.k-right () {
  0% { left: 10em; }
  100% { left: 0em; opacity: .6; }
}

@-webkit-keyframes k-right { .k-right; }
@-moz-keyframes k-right { .k-right; }
@-o-keyframes k-right { .k-right; }
@keyframes k-right { .k-right; }

.run-animation (@args) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  -o-animation: @arguments;
  animation: @arguments;
}

.delay-animation (@delay) {
  -webkit-animation-delay: @delay;
  -moz-animation-delay: @delay;
  -o-animation-delay: @delay;
  animation-delay: @delay;
}

.symbol {
  content: "";
  display: block;
  opacity: 0;
}

.logo {
  width: 40em;
  overflow: hidden;
  margin: -10em auto 0 auto;
  position: relative;

  div {
    float: left; width: 10em; height: 10em; position: relative;
  }

  .k { margin-right: -1.5em; }

  .k:before {
    .symbol;
    position: absolute;
    width: 2em;
    border-right: 5em solid transparent;
    border-top: 5em solid rgba(167, 204, 97, 1);
    border-left: 3em solid rgba(167, 204, 97, 1);
    border-bottom: 5em solid rgba(167, 204, 97, 1);

    .run-animation(k-right .7s forwards);
  }

  .k:after {
    .symbol;
    position: absolute;
    width: 5em; height: 10em;
    background: rgba(131, 183, 30, 1);

    .run-animation(k-left .7s forwards);
    .delay-animation(.4s);
  }

  .o:before {
    .symbol;
    width: 10em; height: 10em;
    border-radius: 10em; margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.75);

    .run-animation(o-show .7s forwards);
    .delay-animation(.2s);
  }

  .o.last:before {
    .delay-animation(.6s);
  }

  .w { margin: 0 .7em; }

  .w:before {
    .symbol;
    position: absolute;
    left: -1em;
    width: 0em; height: 0em;
    border-top: 26em solid rgba(131, 183, 30, 1);
    border-left: 6em solid transparent;
    border-right: 6em solid transparent;
    .run-animation(w-top .7s forwards);
    .delay-animation(.4s);
  }

  .w:after {
    content: ""; display: block;
    position: absolute; margin: 0 1.4em;
    width: 0em; height: 0em;
    border-bottom: 10em solid rgba(131, 183, 30, 1);
    border-left: 3.6em solid transparent;
    border-right: 3.6em solid transparent;
    .run-animation(w-bottom .7s forwards);
    .delay-animation(.4s);
    opacity: 0;
  }
}