body {
  color: #222222;
  font-family: 'Roboto', sans-serif;
  margin: 8px 0;
}
.splash {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff url("../img/geometry.png") center center repeat;
  z-index: 10;
  font-size: 10px;
}
.splash .center {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
}
.splash .hello {
  margin: 24px auto;
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;
  width: 400px;
  color: #666666;
  text-align: center;
}
.wrap {
  margin: 0 auto;
  width: 960px;
}
.wrap:after {
  display: block;
  content: "";
  clear: both;
  width: 100%;
}
.row {
  margin: 40px 0;
}
p {
  line-height: 1.7;
}
.right {
  float: right;
}
.left {
  float: left;
}
.logo {
  opacity: .7;
}
.social {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.social:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.kowo-invitation h2 {
  width: 255px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 100;
  text-align: justify;
  margin-right: 100px;
  display: block;
  padding: 0 0 30px 0;
  position: relative;
}
.kowo-invitation h2 b {
  font-size: 90px;
  font-weight: 200;
  margin-left: -5px;
}
.kowo-invitation h2:after {
  content: "";
  display: block;
  position: absolute;
  width: 340px;
  height: 320px;
  left: -275px;
  top: 78px;
  background: url("../img/clone.png") center center no-repeat;
}
.kowo-invitation p {
  margin: 20px 0;
  width: 600px;
  float: right;
  font-weight: 300;
}
.wide-picture {
  text-align: center;
  overflow: hidden;
  height: 200px;
  background: url("http://placehold.it/1920x200") center center no-repeat;
}
.wide-picture .wrap {
  position: relative;
  z-index: 10;
  margin-top: 170px;
}
